<!doctype html>
<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="mainModule">
<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<title>Movie Assignment</title>
<link rel="stylesheet" type="text/css" href="assets/css/main.css">
<!-- SPELLS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><!-- load jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script><!-- load angular -->
<script src="app/app.module.js"></script><!-- load main controller -->
<body ng-controller="mainController">
<header> </header>
<div id="container">
  <aside id="left_box">
    <h1>BROWSE MOVIES</h1>
    <div class="border"></div>
    <div>
      <table id="browse_movies">
        <tr>
          <td ng-repeat="movie in movieCollection">
          	<a href="javascript:void(0);" ng-click="changeView(movie.id)">
                <img class="profile-img" src="{{CustomImgLink}}{{movie.poster_path}}">
                <h2>{{movie.title}}</h2>
            </a></td>
        </tr>
      </table>
    </div>
  </aside>
  <div>
    <aside id="right_box">
    <h1>STAND BY ME</h1>
    <div class="border"></div>
    <img class="mvimg" src="{{CustomImgLink}}{{movieDetails.poster_path}}" width="174" height="262">
    <div class="mvdetails">
      <h2>WHO MADE IT?</h2>
      <p><span class="heading">Director: {{DirectorName}}</span></p>
      <p><span class="heading">Writers: <span class="list-comma" ng-repeat="WriterName in WriterList">{{WriterName}}</span></span></p>
      <p><span class="heading">Stars: <span class="list-comma" ng-repeat="CastName in CastList">{{CastName}}</span></span></p>
      <div class="mvdesc">
        <h2>WHAT'S IT ABOUT?</h2>
        <p>{{movieDetails.overview}}</p>
      </div>
    </div>
  </aside>
  <aside id="right_box">
    <h1>MOVIE CREDITS</h1>
    <div class="border"></div>
    <br>
    <div class="creditlist">
    <table>
      <tr id="credit-img">
        <td ng-repeat="profile in CastFullList | filter:{profile.profile_path: '!null'}">
        <a href="javascript:void(0);" ng-click="showImage(profile.profile_path)"><img class="icon" src="{{CustomImgLink}}{{profile.profile_path}}"></a>
          <h2>{{profile.name}}</h2>
          <p>{{profile.character}}</p></td>
      </tr>
    </table>
    </div>
    <div style="float:left;"> <img src="{{castImage}}" width="347" height="420"> </div>
  </aside>  
  </div>
</div>
<footer> </footer>
</body>
</html>
